<div class="jumbotron">
  <div class="container">
    <h1>Join our Mailing List</h1>
    <p class="lead">Would you like to be notified by email when the Saint John Developer User Group will be
    holding their next meeting?</p>
    <p>
      <button class="btn btn-primary">Sign me up!</button>
      <button class="btn btn-small btn-danger">No Thanks</button>
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>TODO: Event Brite Event Listing</h1>
    </div>
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Twitter</h3>
        </div>
        <div class="panel-body">
          Tweets
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Facebook Group</h3>
        </div>
        <div class="panel-body">
          Posts
        </div>
      </div>

    </div>
  </div>
</div>