<div class="jumbotron">
  <h1>We're a community of <br/>I.T. Professionals</h1>

  <div class="container">
    <a id="next-event"></a>
    <p class="lead">Our Next Event</p>
    <h1><%= @current_event.title %></h1>
    <h4><%= @current_event.start_date %></h4>
    <!--<button class="btn btn-large btn-primary">TODO: Eventbrite Registration Button</button>-->
  </div>
</div>

<div class="container about-us">
  <a id="about-us"></a>
  <section>
    <header>
      <h2>About Us</h2>
      <hr />
    </header>
    <div class="multi-column">
      <p>The Saint John Developer User Group is a community of developers, designers, and managers interested in enhancing the professional
      and technical culture of the I.T. sector in the Saint John region.  We typically organize a meet up on the last Thursday of every
      month at the Big Tide Brewing Company to have a drink, socialize, and hear about community events or take in a presentation.</p>
      <p>If you are interesting in presenting a topic, making announcements, or becoming a sponsors, then please contact us. Our goal is
      to gather the best and brightest members of the community in order to learn from each other.</p>
    </div>
    <p class="centered">
      <a href="https://twitter.com/SJDevUG" class="btn btn-large btn-success">Follow us on Twitter</a>
      <a href="https://www.facebook.com/groups/sjdevug" class="btn btn-large btn-success">Join us on Facebook</a>
      <!--<a href="#" class="btn btn-large btn-success">Subscribe to our Mailing List</a>-->
    </p>
  </section>
</div>

<div class="container upcoming-events">
  <a id="upcoming-events"></a>
  <section>
    <header>
      <h2>Upcoming Events</h2>
      <hr />
    </header>
    <div class="row">
      <div class="col-md-4 event">
        <h4>Building Better Web Applications with AngularJS</h4>
        <p class="date">October 30, 2013</p>
        <p class="description">As increasingly sophisticated functionality is pushed into the client-side, Javascript applications are becoming more complex and demand codebases that are scalable, reliable, and reusable.  This talk will discuss the features and concepts in Angular.js that help make this achievable, how the framework can be used for both small and large-scale application development, and how testing fits into the process.</p>
        <p class="presenter">Presented by Colin Casey</p>
      </div>
      <div class="col-md-4 event">
        <h4>No Speaker Announced</h4>
      </div>
      <div class="col-md-4 event">
        <h4>No Speaker Announced</h4>
      </div>
    </div>
  </section>
</div>

<div class="sponsors">
  <a id="sponsors"></a>
  <section class="container">
    <header>
      <h2>Sponsors</h2>
      <hr />
    </header>
    <p>
      <img src="/assets/sponsors/t4g.jpg"/>
      <img src="/assets/sponsors/enterprisesj.jpg"/>
      <img src="/assets/sponsors/rapidmind.gif"/>
      <img src="/assets/sponsors/swiftradius.png"/>
      <img src="/assets/sponsors/ambir.png"/>
    </p>
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<a href="http://www.t4g.com" class="sponsor">-->
          <!--<span>T4G</span>-->
          <!--<div class="logo t4g"></div>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<a href="http://www.enterprisesj.com/" class="sponsor">-->
          <!--<span>Enterprise Saint John</span>-->
          <!--<div class="logo enterprise-sj"></div>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<a href="http://www.rapidmindsolutions.com/" class="sponsor">-->
          <!--<span>Rapidmind Solutions</span>-->
          <!--<div class="logo rapidmind"></div>-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-md-3">-->
        <!--<a href="http://www.swiftradius.com/" class="sponsor">-->
          <!--<span>Swiftradius</span>-->
          <!--<div class="logo swiftradius"></div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-3">-->
        <!--<a href="http://www.ambirsolutions.com/" class="sponsor">-->
          <!--<span>Ambir</span>-->
          <!--<div class="logo ambir"></div>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  </section>
</div>
