@import "bootstrap";
@import "font-awesome";

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fcfcfc;

  & > header, & > nav {
    background-color: #fff;
  }
}

header {
  text-align: center;
  border-top: 5px solid rgb(67, 142, 185);
  padding: 20px 0;
  font-family: "Open Sans";
}

.brand {
  .line1, .line2, .line3 {
    display: block;
    line-height: 24px;
    font-size: 24px;
  }

  .line1 {
    font-size: 30px;
    line-height: 30px;
  }
}

nav {
  text-align: center;
  padding-bottom: 10px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      margin: 0 30px;
      text-transform: uppercase;
      line-height: 21px;
    }
  }

  a {
    &:hover {
      text-decoration: none;
      border-bottom: dotted 1px #9A8ECA;
    }
  }
}

#content {
  border-top: 1px solid #eee;
}

.navbar {
  background-color: rgb(67, 142, 185);
  color: rgb(57, 57, 57);
}

.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: rgb(67, 142, 185);

  &:hover, &:focus {
    color: #fff;
    background-color: #62a8d1;
  }
}

section header {
  position: relative;
  border-top: none;
  padding: 0;
  margin: 30px 0 -20px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 37px;
    position: relative;
    z-index: 1;
    background-color: #fcfcfc;
    display: inline-block;
    padding: 0 10px
  }

  hr {
    background-color: transparent;
    border-top: solid 1px rgba(0,0,0,0.2);
    border-bottom: solid 1px rgba(0,0,0,0.2);
    height: 4px;
    position: relative;
    top: -57px;
    z-index: 0;
  }
}

section {
  margin-bottom: 50px;

  .centered {
    text-align: center;
    margin-top: 20px;
    a {
      width: 100%;
    }
  }
}

.sponsors {
  background-color: #D2D7DB;
  color: #00234D;

  header h2 {
    background-color: #D2D7DB;
  }

  section {
    margin-bottom: 0;
  }
}

.jumbotron {
  background: #8A8F95 no-repeat 0 0 url('/assets/shipyard.jpg');
  background-size: cover;
  color: #00234D;
  text-align: center;

  h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 37px;
    margin: 30px 0 70px;
  }

  .container {
    max-width: 700px;
    h1 {
      margin: 10px 0;
    }
  }
}

footer {
  text-align: center;
  background-color: #fff;
  padding: 30px 0 10px;

  h4 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 30px;
  }
}

.upcoming-events {
  .event {
    text-align: center;
  }

  p.description {
    text-align: justify;
  }

  .presenter, .date {
    color: #777;
    font-size: 12px;
  }
}

a.sponsor {
  display: block;
  height: 260px;
  margin-bottom: 60px;
  text-align: center;
  background-color: #000;
  color: #fff;
  position: relative;

  span {
    -webkit-transition: opacity linear 0.2s;
    -moz-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;
    color: white;
    font-weight: bold;
    font-size: 1.125em;
    line-height: 220px;
    opacity: 0;
  }

  .logo {
    -webkit-transition: opacity linear 0.2s;
    -moz-transition: opacity linear 0.2s;
    transition: opacity linear 0.2s;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    opacity: 1.0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .t4g {
    background-image: url('/assets/sponsors/t4g.jpg');
  }

  .enterprise-sj {
    background-image: url('/assets/sponsors/enterprisesj.jpg');
  }

  .rapidmind {
    background-image: url('/assets/sponsors/rapidmind.gif');
  }

  .swiftradius {
    background-image: url('/assets/sponsors/swiftradius.png');
  }

  .ambir {
    background-image: url('/assets/sponsors/ambir.png');
  }

  &:hover {
    span {
      opacity: 1.0;
    }
    .logo {
      opacity: 0;
    }
  }
}

.sponsors {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    float: left;
    margin: 10px;
  }

  img {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: #fff;
  }

  p {
    text-align: center;
  }
}

.btn-twitter {
  background-color: #1AB2E8;
  border-color: darken(#1AB2E8, 10%);
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken(#1AB2E8, 10%);
    border-color: darken(#1AB2E8, 20%);
  }
}

.btn-facebook {
  border-color: darken(#4C68A1, 10%);
  background-color: #4C68A1;
  color: #fff;

  &:hover {
    color: #fff;
    background-color: darken(#4C68A1, 10%);
    border-color: darken(#4C68A1, 20%);
  }
}

span.break {
  display: block;
}

@media (max-width: $screen-xs-max) {
  .multi-column {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    text-align: justify;
  }

  .jumbotron h1.community {
    font-size: 33px;
  }
}

@media (min-width: $screen-xs-max) {
  .multi-column {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    text-align: justify;
  }
}